{% extends 'base.html' %}
{% load static %}
{% block content%}


<!-- Container (About Section) -->
<div id="about" class="container-fluid">
    <img src="{% static 'images/about1.jfif'%}" class="d-block w-100" style="height:300px">
      <div class="row">
        <div class="h2 text-center py-3"><b>About <b class="text-warning"> Our Company </b></b> </div><br/>
          <div class="text-center bg-light"><h4><b style="color: #44a2f6;">INTRODUCTION</b></h4><br/>
<div class="text-center"><b>Favcart india online services private limited is an indian Non-Government Company.Its a private company and is classified as company limited by shares<br>
Company's authorized capital stands at Rs.10.0 lakhs and has 60.000004% paid-up capital which is Rs 6.0 lakhs.<br>
</b> <b style="color:#34b5bf;">Favcart india online services private limited is majorly in business services business and currently company operations are active<br>
    Company is registered in Hyderabad (Andhra Predesh) Registrar Office . Favcart india online services private limited registered address is 2-14-117, 3/A <br>
    LINE SYAMALANAGAR GUNTUR Guntur-522006.</b></div><br/>

      <div class="text-center"><b>Shoppers Stop is home to a multitude of leading international and
        national brands for apparels, fragrances,Luxry Watches,Royal Watches,Digital Watches,
        accessories, cosmetics, footwear, home décor and furnishings catering to the needs of the entire
          family.
        We aspire to provide our customers a memorable international shopping experience.
        We are one of the largest chain of department stores across India.</b></div>
      </div><br/>
      <div class="container-fluid">
      <div class="row ">
      <div class="h2 text-center py-3">Our<b class="text-warning">Values..</b> </div>

        <div class="text-center"><b style="color:#34b5bf;">“To be an inspirational and trusted brand,
        transforming customers' lives through fashion and delightful shopping experience every time”
        We have a team of professional associates who strive endlessly to provide
            the best shopping experience to each of our customers. </b>We have adopted a new philosophy of
            "Start Something New" to give retail a new dimension and innovation is our key driver to attain excellence in customer service.
            <b style="color: #44a2f6;">Shoppers Stop is home to a multitude of leading international and national brands for apparels, fragrances, accessories, cosmetics, footwear, home décor and furnishings catering to the needs of the entire family.
                We aspire to provide our customers a memorable international shopping experience.</b> We are one of the largest chain of department stores across India.
        </div>

      </div></div></div></div><br/>

          <div class="row services">
    <div class="container-fluid mb-5">
    <div class="text-center mt-5">
        <div class="h2 text-center py-3">WHY <b style="color: #fb0054;">SHOP WITH US..</b><i class="fa fa-shopping-cart"></i> </div>
    </div><br/>
        <div class="text-center"><b><i>There are multiple reason to choose us for your multiple purpode to realeted to your shopping
            believe<br>me you will findus best suitable,</i></b></div>
    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <div class="our-services settings">
                    <h4>SIMPLE SHOPPING</h4>
                    <hr class="deep E-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p><br>
                 <b style="color: #44a2f6;"> Whether you shop online or in store or any of the leading third party
                      marketplaces you get the same experience in terms of merchandise, price & service.
                      We are responsible for what we sell and guarantee the originality of the products.
                          All our products are sourced directly from the brands and carry brand warranty and
                     genuineness certificate..!</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                 <div class="our-services speedup">
                    <h4>SECURE SHOPPING<br></h4>
                     <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p><br>
       <b style="color: #44a2f6;"> Shopping on our website is 100% safe and secure as we do not store complete
        details or payment information of your credit/debit card in our system.
        This is information is directly transmitted securely to the bank for payment processing.
           However, caution must always be taken by the customer while making transactions on any online venue</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services privacy">
                    <h4>RANGE OF PRODUCTS AND BRANDS<br/></h4>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p><br/>
                <b style="color: #44a2f6;"> We assort the collection from the best brands, trends, colours, fabrics, patterns to bring you a deep
                    fashion selection wide across Men, Women, Kids, Fashion Accessories, and Home categories..</b></p>
                </div>
            </div>
        </div>
    </div>
       <div class="row">
        <div class="col-md-4">
            <div class="box">
                <div class="our-services backups">
                    <h4> FREE RETURNS</h4>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p><b style="color: #44a2f6;">At Shoppers Stop we follow a policy that is – "We are responsible for what we sell".
        We offer free and easy returns on most of the merchandise bought online.
        If you are not completely satisfied with your purchase you can return the items via a courier
        pick up or exchange them in any of our stores across India.
                        100% ORIGINAL</b>
          </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services ssl">
                    <h4> FREE ALTERATIONS And EXPRESS STORE PICK UP</h4>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p><b style="color: #44a2f6;">We offer free alteration at any Store for products purchased on online as well.
                 We provide the facility of express pick up service at the store.
                  You can shop online and collect your order from the nearest or preferred Shoppers
                        Stop store as per your convenience.</b></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services database">
                    <h4>PERSONAL SHOPPER SERVICE AT HOME</h4>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p><b style="color: #44a2f6;">We also provide Personal Shopper At Home service and you can shop from the comforts of your home with
        prior appointment with assistance from our personal shoppers.  We offer personal shopper service with prior appointment at our store.
        You can avail the assistance of personal shoppers who are experts to guide you to shop in an
                        exclusive lounge at the store.</b></p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

      <div class="row">
          <div class="col-sm-12">
     <div class="h2 text-center py-3">WHAT OUR<b class="text-warning"> CUSTOMER SAYS.. </b> </div>
              <div class="text-center"><b><b style="color:#34b5bf;">"This company is the best.
                  I am so happy with the result!"</b></b></div>
          </div><br/>
      <div class="item">
          <div class="text-center"><b><b style="color:#34b5bf;">"One word... WOW!!</b></b></div>
      </div><br/>
      <div class="item">
          <div class="text-center"><b><b style="color:#34b5bf;"> " I AM SO HAPPY TO  SHOP With THIS COMPANY..."</b></b></div>
      </div>
    </div>

{% endblock %}