{% extends 'base.html' %}
{% load static %}
{% block content%}
<div class="row services">
    <div class="container-fluid mb-5">
    <div class="text-center mt-5">
        <h1><b>Our<b style="color:#d8a9a7;"> Services</b> <i class="fa fa-car"></i> </b></h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <div class="our-services settings">
                    <div class="icon"> <img src="https://img.imgur.com/6NKPrhO.png"> </div>
                    <h4>Contact Us</h4>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>Email us with any question or inqueries or call on 7007237006. if you have any question on how to return
                        your item to us,we would be happy to
                        Answer Your Question,contact us!</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                 <div class="our-services speedup">
                    <div class="icon"> <img src="https://img.imgur.com/vdH9LKi.png"> </div>
                    <h4> Cancelling Or Changing an Order</h4>
                     <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>You may cancel or changing your orders within a one hour otherwise it will be not recommended.
                    we are unable to accept returns without  the original packaging.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services privacy">
                    <div class="icon"> <img src="https://img.imgur.com/AgyneKA.png"> </div>
                    <h4>Privacy Policy</h4>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>Our free privacy policy generator ,which has been updated to include the requirements of the General
                     Data Protection Regulation(GDRP).Protecting your private information is our  first priority.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <div class="our-services backups">
                    <div class="icon"> <img src="https://img.imgur.com/vdH9LKi.png"> </div>
                    <h4>Returns & Exchange</h4>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>if you are not entirely satisfied with your purchase.we're here to help.
                    You have 15 days, calender days to return an item from the date you recieved it.
                    your item needs to have the receipt or proof of purchase.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services ssl">
                    <div class="icon"> <img src="https://img.imgur.com/v6OnUqu.png"> </div>
                    <h4> Shipping & Handling</h4>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p> All orders  are processed within 2-3 business days. Orders are not shipped or delivered on
                    weekends or holidays.and you will see a shipping alert in your cart, where alternative options
                     will be provided.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="our-services database">
                    <div class="icon"> <img src="https://img.imgur.com/VzjZw9M.png"> </div>
                    <h4>Terms of Services</h4>
                    <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>Our simple terms and Conditions Templates can instantly generate a custome terms of services
                     policy for our business.Once your terms of services policy is genrated,you'll be able to
                    customizing and making adjustments untill it's perfect.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
